* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
table,
tbody,
thead,
tfoot,
th,
tr,
td,
caption,
form,
input,
select,
datalist,
textarea,
fieldset,
legend,
button,
label,
img,
blockquote,
header,
nav,
footer,
section,
article,
aside,
details,
figcaption,
figure,
hgroup,
canvas,
video,
audio {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Hiragino Sans GB', 'Microsoft YaHei',
    'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol' !important;
}
i,
em {
  font-style: normal;
}
input,
button,
select,
textarea {
  border: none;
  outline: none;
  /* 苹果和安卓的按钮样式不同，去掉样式重新设置 */
  -webkit-appearance: none;
}
button,
i,
em {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol,
li {
  list-style: none;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  background-color: none;
  /* 解决点击a标签链接时的蓝色背景颜色，将他们都设置为透明 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
img {
  display: block;
  width: 100%;
  -ms-interpolation-mode: bicubic;
  /* 兼容IE浏览器缩放图片导致失真 */
}
input:-moz-placeholder {
  /* Firefox4 to 18 */
  color: #999;
}
input::-moz-placeholder {
  /* Firefox4 19+ */
  color: #999;
}
input:-ms-input-placeholder {
  /* 兼容IE浏览器 */
  color: #999;
}
input::-webkit-input-placeholder {
  /* Chrome and  Safari */
  color: #999;
}
input:focus::-webkit-input-placeholder {
  /* 获取焦点时的输入就文本样式 */
  color: #999;
}
input[type='checkbox'] {
  -webkit-appearance: checkbox;
}
/* 禁止缩放表单 */
input[type='submit'],
input[type='reset'],
input[type='button'],
input {
  resize: none;
  border: none;
  background-color: transparent;
}
